.<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mon Application</title>
</head>
<body>
  Node.js, Express et MongoDB.
  <button id='update'>Mise à jour téléphone</button>
    <form action="/adresse" method="POST">
    <input type="text" placeholder="nom" name="nom">
    <input type="text" placeholder="prenom" name="prenom">
    <input type="text" placeholder="Telephone" name="telephone">
    <input type="text" placeholder="adresse" name="adresse">
    <input type="text" placeholder="codepostal" name="codepostal">
    <button type="submit">Submit</button>
  </form>

  <ul class="adresse">
  <% for(var i=0; i<adresse.length; i++) {%>
    <li class="client">
      <span><%= adresse[i].nom %></span>
      <span><%= adresse[i].prenom %></span>
      <span><%= adresse[i].telephone %></span>
      <span><%= adresse[i].adresse %></span>
      <span><%= adresse[i].codepostal %></span>
      <form action="/mod/<%= adresse[i]._id %>" method="POST">
        <input type="text" placeholder="nom" name="nom" value="<%= adresse[i].nom %>">
        <input type="text" placeholder="prenom" name="prenom" value="<%= adresse[i].prenom %>">
        <input type="text" placeholder="Telephone" name="telephone" value="<%= adresse[i].telephone %>">
        <input type="text" placeholder="adresse" name="adresse" value="<%= adresse[i].adresse %>">
        <input type="text" placeholder="codepostal" name="code-postal" value="<%= adresse[i].codepostal %>">
        <span><%= adresse[i]._id %></span>
        <button type="submit">Modifier</button>
        <span><a href="http://localhost:8081/detruire/<%= adresse[i]._id %>">detruire</a></span>
      </form>



    </li>
  <% } %>
  </ul>

</body>
</html>